<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.sagarandcompany.MethodInjectionDemo.Address" scope="prototype">
        <property name="city" value="Jaipur"/>
        <property name="state" value="Rajasthan"/>
    </bean>

    <bean id="employee" class="com.sagarandcompany.MethodInjectionDemo.xml.Employee" scope="singleton">
        <property name="name" value="sagar"/>
        <property name="email" value="sagarmal624@gmail.com"/>
        <lookup-method name="getAddress" bean="address"/>
    </bean>

    <bean id="employee" class="com.sagarandcompany.MethodInjectionDemo.other.AddressProvider">
        <lookup-method name="getAddress" bean="address"/>
    </bean>


</beans>